body{
    background-color: #fe8639;
}
.section{
    width: 100%;
    height: 100%;
    
}

.section-1{
    width: 100%;
    height: 70%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 2%;
    margin: 1rem;
}

.section-img{
    width: 50%;
    /* margin-top: 3rem; */
}

img{
    width: 94%;
    height: 100%;
    max-width: 725px;
    max-height: 444px;
    border-radius: 12px;
}

.section-dis{
  width: 50%;
 

}

.section-span{
    height: 70%;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size:2rem ;
}

span{
    font-size: 1.8rem;
    color: aliceblue;
}

.section-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
}

.button{
    width: 9rem;
    height: 3rem;
    background-color:aliceblue;
    border-radius: 99999px;

}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
}

@media screen and (max-width:1300px) {
    span{
        font-size: 1rem;
    }
    .section-button{
        /* padding-top: 2%; */
    }
}


@media screen and (max-width:1000px){
    .section-img img{
        height: 100%;
    }

    .section-button{
        /* padding-top: 4%; */
    }
}

@media screen and (max-width:700px) {
    h2{
        font-size: 1rem;
        margin-top: 0;
    }

    .button{
        height: 2rem;
        background-color: aliceblue;
    }

    .section-button{
        /* padding-top: 16%; */
    }
}

@media screen and (max-width:530px) {
    span{
        font-size: 0.4rem;
    }

    h2{
        font-size: 0.8rem;
    }

    /* .section-button{
        padding-top: 25%;
    } */
    a{
        font-size: 0.8rem;
    }
    .button{
        width: 6rem;
    }
}